
@media screen and (min-width:1200px) and (max-width:1600px) {
.btn-separator:after {
    content:'';
    float: right;
    background:white;
    margin: 0 2px;
    height: 34px;
    width: 1px;
}
#searchInput{
    height:35px;
}
button{
    border-radius: 4px;
  }
}
@media screen and (min-width:768px ) and (max-width:1199px) {
    .btn-separator:after {
        content:'';
        float: right;
        background:white;
        margin: 0 2px;
        height: 34px;
        width: 1px;
    }
    #searchInput{
        height:30px;
    }
    button{
        border-radius: 4px;
      }
    }
    @media screen and (min-width:480px )and (max-width:765px) {

        .btn-separator:after {
            content:'';
            float: right;
            background:white;
            margin: 0 2px;
            height: 34px;
            width: 1px;
        }
        #searchInput{
            height:25px;
            float:right;
        }
        button{
            border-radius: 4px;
          }
        }