<div *ngIf = "pieView">
<div style="text-align:center;margin-top:5%" class="btn-group" role="group" >
        <button type="button" *ngIf="selected" style="font-family: Courier New"  (click)="markAsFavourate('fav')" class="btn btn-outline-primary">Mark favourate</button>
        <button *ngIf="!selected" type="button" style="font-family: Courier New" (click)="markAsFavourate('done')" class="btn btn-outline-primary">Set Favourate</button>
        <span class="btn-separator"></span>
        <button type="button" *ngIf='tapped' style="font-family: Courier New" (click)="markAsFavourate('com')" class="btn btn-outline-primary">Compare Two Coins</button>
    </div>
<div class="input-group" style="width:30%;margin-left:70%; margin-top:-3%">
 <input id="searchInput" type="text" class="form-control" [(ngModel)]="seachQuery" style="font-family: Courier New" placeholder="Search By Name">
 </div>
<div style="width:100%;margin-top:7%">
    <hr>
<table class="table table-hover"   [mfData]="locatStorage?locatStorage:name | dataFilter : seachQuery" #mf="mfDataTable"  [mfRowsOnPage]="10" [mfSaveRowsOnPage]="true" (mfSelectedEntities)="setSelectedEntities($event)">
  <thead>
      <tr>
          <th style="width: 10%;" [hidden]="selected">
   
          </th>
          <th style="width: 10%;" [hidden]="!selected">
           
            </th>
          <th style="width: 30%;">
              <mfDefaultSorter by="name" style="font-family: Courier New" [mfShowSortableArrows]="true">name</mfDefaultSorter>
          </th>
          <th style="width: 30%">
              <mfDefaultSorter by="price" style="font-family: Courier New" [mfShowSortableArrows]="true">Current Price(USD)</mfDefaultSorter>
          </th>
          <th style="width: 30%">
              <mfDefaultSorter by="marketCap"style="font-family: Courier New" [mfShowSortableArrows]="true">Market Cap</mfDefaultSorter>
          </th>
          <th style="width: 30%">
         </th>
      </tr>
  </thead>
  <tbody >
      
      <tr (press)="onTap(ndx);tapped = true" (click)="toChartView(ndx)" *ngFor="let item of mf.data; let ndx = index">
     <td [hidden]="!selected">
             
    </td>
        <td [hidden]="selected">
            <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
        </td>
          <td style="font-family: Courier New" class="unselected">{{item.name}}</td>
          <td style="font-family: Courier New" class="unselected">{{item.price}}</td>
         <td  style="font-family: Courier New" class="unselected">{{item.marketCap}}</td>
         <td class="unselected"><button (click)="toPrice(ndx)" style="font-family: Courier New"  class="btn btn-outline-primary">Compare with Yesterday's Price</button></td>
          
      </tr>
  </tbody>
  <tfoot >
      <tr >
          <td colspan="6">
              <mfBootstrapPaginator style="font-family: Courier New" class="pagination"></mfBootstrapPaginator>
          </td>
      </tr>
  
  </tfoot>
</table>

</div>

</div>

<div style="text-align:center;margin-top:7%" *ngIf="!pieView">
  <a href="/" > <span style="float:left;font-size:150%;color: black;"class="glyphicon glyphicon-arrow-left" ></span></a>
<div style="display: block" >
 
        <canvas height="80%" baseChart
                [data]='pieChartData'
                [labels]='pieChartLabels'
                [chartType]='pieChartType'
                (chartHover)='chartHovered($event)'
                (chartClick)='chartClicked($event)'></canvas>

</div>
<br><br><br>
<span style="display:block; height: 5px;font-family: Courier New;font-size:130%" >Current Price:{{currentPrice}} &nbsp;&nbsp;&nbsp;&nbsp; An hour Ago :{{yesterdaysPrice}} 
        &nbsp;&nbsp;&nbsp;&nbsp;Yesterday's Price:{{aWeekAgo}} </span>
</div>